# A Estrtura de dados Series

In [2]:
import pandas as pd

In [3]:
#P01: Hello Series!

#cria a Series notas
notas = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])

#cria a Series alunos
lst_matriculas = ['M02', 'M05', 'M13', 'M14', 'M19']
lst_nomes = ['Bob', 'Dayse', 'Bill', 'Cris', 'Jimi']
alunos = pd.Series(lst_nomes, index=lst_matriculas)

#imprime as duas Series
print(notas); print("---------------"); print(alunos)

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64
---------------
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [4]:
#P02: Propriedades básicas das Series

#cria a Series "alunos"
alunos = pd.Series({'M02':'Bob', 'M05':'Dayse', 'M13':'Bill', 
                    'M14':'Cris', 'M19':'Jimi'})

#atribui nomes p/ os vetores de dados e rótulos
alunos.name = "alunos"
alunos.index.name = "matrículas"

#recupera e imprime as propriedades
print(alunos)
print('---------')
tamanho      = alunos.size
dados        = alunos.values
rotulos      = alunos.index
alunos_tipo  = type(alunos)
alunos_dtype = alunos.dtype
alunos_idx_dtype = alunos.index.dtype

print('número de elementos:', tamanho)
print('vetor de dados:', dados)
print('vetor de rótulos:', rotulos)
print('tipo (type):', alunos_tipo)
print('dtype da Series:', alunos_dtype)
print('dtype do vetor de rótulos:', alunos_idx_dtype)

matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object
---------
número de elementos: 5
vetor de dados: ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
vetor de rótulos: Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='matrículas')
tipo (type): <class 'pandas.core.series.Series'>
dtype da Series: object
dtype do vetor de rótulos: object

In [ ]:
#indice unico, retorna 1 elemento
alunos['M13']
alunos[4]
alunos[-1]  # retorna o último elemento

'Bill'

In [32]:
#fatiação, retorna elementos dentro do intervalo
alunos[:2]  # retorna os dois primeiros elementos
alunos[1:3] # retorna os elementos de índice 1 e 2
alunos['M02':'M14']
alunos[-4:]
alunos[0:5:2]

matrículas
M02     Bob
M13    Bill
M19    Jimi
Name: alunos, dtype: object

In [35]:
#P03: Indexação booleana
# basicamente um filtro com condição verdadeira

# cria as Series "notas" e "alunos" ja foi criado acima
notas = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])

# obtém os índices dos alunos aprovados
idx_aprovados = notas[notas >= 7].index

# imprime os alunos aprovados pelo indice
print('relação de alunos aprovados:')
print('---------------------------')
print(alunos[idx_aprovados])

relação de alunos aprovados:
---------------------------
M02     Bob
M13    Bill
M14    Cris
dtype: object

/tmp/ipykernel_2922/3448064857.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(alunos[idx_aprovados])

In [37]:
#P04: Busca em Series

# testa se rótulos fazem parte de uma Series
tem_M13 = 'M13' in alunos
tem_M99 = 'M99' in alunos
print("existe o rótulo 'M13'? ->", tem_M13)
print("existe o rótulo 'M99'? ->", tem_M99)
print('------------------------')

# testa se valor faz parte de uma Series
tem_Bob = alunos.isin(['Bob'])
print("existe o valor 'Bob'")
print(tem_Bob)

existe o rótulo 'M13'? -> True
existe o rótulo 'M99'? -> False
------------------------
existe o valor 'Bob'
M02     True
M05    False
M13    False
M14    False
M19    False
dtype: bool

In [41]:
#P05: Inserindo, Alterando e Removendo elementos de Series
# cria a Series "alunos"
alunos = pd.Series({'M02':'Bob', 'M05':'Dayse', 'M13':'Bill',
                    'M14':'Cris', 'M19':'Jimi'})

print('Series original:')
print(alunos)

# insere o aluno de matrícula M55, Rakesh
alunos['M55'] = 'Rakesh'

# altera os nomes Bill, Cris e Jimi para Billy, Cristy e Jimmy
alunos['M13'] = 'Billy'
alunos[['M14', 'M19']] = ['Cristy', 'Jimmy']

# remove o aluno de matrícula M02 (Bob)
alunos = alunos.drop('M02')

# altera o indice da Series
alunos.index = ['M91', 'M92', 'M93', 'M94','M95']
print('---------------------------')
print('Series após as alterações:')
print(alunos)

Series original:
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object
---------------------------
Series após as alterações:
M91     Dayse
M92     Billy
M93    Cristy
M94     Jimmy
M95    Rakesh
dtype: object

In [44]:
#P06: Iteração

alunos = pd.Series({'M02':'Bob', 'M05':'Dayse', 'M13':'Bill',
                    'M14':'Cris', 'M19':'Jimi'})

# itera sobre os dados (nomes dos alunos)
for aluno in alunos: 
    print(aluno)

# itera sobre os índices (matrículas)
for indice in alunos.index: 
    print(indice)

Bob
Dayse
Bill
Cris
Jimi
M02
M05
M13
M14
M19

In [2]:
#P07: Operações aritméticas com computação vetorizada
import pandas as pd
import numpy as np

# cria as Series s1 e s2
s1 = pd.Series([2, 4, 6])
s2 = pd.Series([1, 3, 5])
print('s1:'); print(s1)
print('s2:'); print(s2)

# efetua as operações aritméticas
print('--------------------------')
print('s1 * 2')
print(s1 * 2)

print('--------------------------')
print('s1 + s2')
print(s1 + s2)

print('--------------------------')
print('raiz quadrada dos elementos de s1')
print(np.sqrt(s1))  # com a Numpy!

s1:
0    2
1    4
2    6
dtype: int64
s2:
0    1
1    3
2    5
dtype: int64
--------------------------
s1 * 2
0     4
1     8
2    12
dtype: int64
--------------------------
s1 + s2
0     3
1     7
2    11
dtype: int64
--------------------------
raiz quadrada dos elementos de s1
0    1.414214
1    2.000000
2    2.449490
dtype: float64

In [ ]:
#P08: o valor NaN

verde = pd.Series({'BR':1, 'FR': 0, 'IT':1, 'UK': 0})
azul = pd.Series({'AR':1, 'BR':1, 'FR': 1, 'IT':0, 'UK': 1})

soma = verde + azul
print("soma:")
print(soma)
print('------------------------')

print("isnull(soma):")
print(pd.isnull(soma))

soma:
AR    NaN
BR    2.0
FR    1.0
IT    1.0
UK    1.0
dtype: float64
------------------------
isnull(soma):
AR     True
BR    False
FR    False
IT    False
UK    False
dtype: bool

In [14]:
#P09: Índices datetime
# (1) - cria a série temporal
dias = ['10/02/2019', '11/02/2019', '12/02/2019', '13/02/2019',
        '14/02/2019', '15/02/2019']

temp_max = [31, 35, 34, 28, 27, 27]

serie_temporal = pd.Series(temp_max, index=dias)

# (2) - converte o tipo do índice para datetime e imprime a série
serie_temporal.index = pd.to_datetime(serie_temporal.index, 
                                      format='%d/%m/%Y')

print(serie_temporal)
print(serie_temporal.index)

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64
DatetimeIndex(['2019-02-10', '2019-02-11', '2019-02-12', '2019-02-13',
               '2019-02-14', '2019-02-15'],
              dtype='datetime64[ns]', freq=None)

In [17]:
#P10: Indexação hierárquica
import pandas as pd

moedas = ['Peso', 'Real', 'Euro', 'Euro', 'Libra']
paises = [['América', 'América', 'Europa', 'Europa', 'Europa'],
          ['AR', 'BR', 'FR', 'IT', 'UK']]

paises = pd.Series(moedas, index=paises)

print(paises)                       # imprime toda a Series
print('-------------------')
print(paises['América'])           # {'AR': Peso, 'BR': Real}
print('-------------------')
print(paises[:, 'IT'])             # {'Europa': Euro}
print('-------------------')
print(paises['Europa', 'IT'])      # Euro

América  AR     Peso
         BR     Real
Europa   FR     Euro
         IT     Euro
         UK    Libra
dtype: object
-------------------
AR    Peso
BR    Real
dtype: object
-------------------
Europa    Euro
dtype: object
-------------------
Euro