In [1]:
#P39: Concatenação de DataFrames
import pandas as pd

#(1)-Cria os DataFrames com as vendas de cada loja
lojaA = pd.DataFrame({
    "loja": ["A", "A", "A"],
    "dia": ["sex", "sab", "dom"],
    "valor": [7500, 9500, 8200]
})

lojaB = pd.DataFrame({
    "loja": ["B", "B", "B"],
    "dia": ["sex", "sab", "dom"],
    "valor": [5100, 8250, 9900]
})

lojaC = pd.DataFrame({
    "loja": ["C", "C"],
    "dia": ["sab", "dom"],
    "valor": [7500, 11800]
})

#(2)-Concatena tudo em um único DataFrame
lojasABC = pd.concat([lojaA, lojaB, lojaC], ignore_index=True)

print(lojasABC)

  loja  dia  valor
0    A  sex   7500
1    A  sab   9500
2    A  dom   8200
3    B  sex   5100
4    B  sab   8250
5    B  dom   9900
6    C  sab   7500
7    C  dom  11800

In [2]:
#P40: Concatenação de DataFrames Incompatíveis
import pandas as pd

#(1)-Cria dois DataFrames com definição diferente
d1 = pd.DataFrame({"carro": ["Hyundai", "Renault", "Fiat"]})
d2 = pd.DataFrame({"animal": ["Capivara", "Bem-te-vi"]})

#(2)-Concatena os DataFrames
d3 = pd.concat([d1, d2], ignore_index=True, sort=False)

print(d3)

     carro     animal
0  Hyundai        NaN
1  Renault        NaN
2     Fiat        NaN
3      NaN   Capivara
4      NaN  Bem-te-vi

In [5]:
#P41: Operações de conjunto
import pandas as pd

#(1)-Cria dois DataFrames com e-mails
df_sql = pd.DataFrame({"email": ["rakesh@xyz.com",
                                 "ecg@acmecorpus.com"]})

df_python = pd.DataFrame({"email": ["ana@xyz.com",
                                    "jonas@acmecorpus.com",
                                    "rakesh@xyz.com"]})

#(2)-Efetua as operações de conjunto

#2.1 União (relação de alunos distintos)
alunos = pd.concat([df_sql, df_python], ignore_index=True)
alunos = alunos.drop_duplicates()

#2.2 Interseção (quem fez ambos os cursos)
sql_e_python = df_sql.merge(df_python)

#2.3 Diferença (quem fez só SQL e quem fez só Python)
so_sql = df_sql[df_sql.email.isin(df_python.email) == False]
so_python = df_python[df_python.email.isin(df_sql.email) == False]

#(3)-Imprime os resultados
print('--------------------------')
print('Alunos Distintos:')
print(alunos)
print('--------------------------')
print('Alunos cursaram SQL e Python:')
print(sql_e_python)
print('--------------------------')
print('Alunos cursaram apenas SQL:')
print(so_sql)
print('--------------------------')
print('Alunos cursaram apenas Python:')
print(so_python)

--------------------------
Alunos Distintos:
                  email
0        rakesh@xyz.com
1    ecg@acmecorpus.com
2           ana@xyz.com
3  jonas@acmecorpus.com
--------------------------
Alunos cursaram SQL e Python:
            email
0  rakesh@xyz.com
--------------------------
Alunos cursaram apenas SQL:
                email
1  ecg@acmecorpus.com
--------------------------
Alunos cursaram apenas Python:
                  email
0           ana@xyz.com
1  jonas@acmecorpus.com

In [7]:
#P42: Comparação de DataFrames
import pandas as pd

#(1)-Cria três DataFrames de Filmes
filmes1 = pd.DataFrame({
    "titulo": ["O Filho da Noiva", "La La Land"],
    "ano": [2001, 2017]
})

filmes2 = pd.DataFrame({
    "titulo": ["Noel, Poeta da Vila", "La La Land"],
    "ano": [2007, 2017]
})

filmes3 = pd.DataFrame({
    "titulo": ["O Filho da Noiva", "La La Land"],
    "ano": [2001, 2017]
})

#(2)-Verifica quais DataFrames são iguais
# (possuem o mesmo conteúdo)
print('filmes1 é igual à filmes2 ->', filmes1.equals(filmes2))
print('filmes1 é igual à filmes3 ->', filmes1.equals(filmes3))

filmes1 é igual à filmes2 -> False
filmes1 é igual à filmes3 -> True

In [8]:
#P43: Junção Natural
import pandas as pd

#(1)-Cria os DataFrames R e S
R = pd.DataFrame({
    "a": [1, 7],
    "b": [2, 4]
})

S = pd.DataFrame({
    "b": [2, 4, 9],
    "c": [3, 6, 1],
    "d": [5, 9, 5]
})

#(2)-Efetua a operação de junção
juncao_natural = pd.merge(R, S)

print('------------------------------')
print("R:")
print(R)
print('------------------------------')
print("S:")
print(S)
print('------------------------------')
print("Junção natural entre R e S:")
print(juncao_natural)

------------------------------
R:
   a  b
0  1  2
1  7  4
------------------------------
S:
   b  c  d
0  2  3  5
1  4  6  9
2  9  1  5
------------------------------
Junção natural entre R e S:
   a  b  c  d
0  1  2  3  5
1  7  4  6  9

In [11]:
#P44: Junção Interna
import pandas as pd

#(1)-Cria os DataFrames depto e emp
dic_depto = {
    "id": ["D1", "D2", "D3", "D4"],
    "nomDepto": ["Compras", "RH", "TI", "Vendas"],
    "local": ["SP", "RJ", "RJ", "SP"]
}

dic_emp = {
    "num": [3199, 3269, 3555, 3788, 3844],
    "nome": ["Ana", "David", "José", "Marina", "Luís"],
    "salario": [1600, 2975, 1500, 5000, 3000],
    "idDepto": ["D2", "D3", None, "D2", "D4"]
}

depto = pd.DataFrame(dic_depto)
emp = pd.DataFrame(dic_emp)

#(2)-Efetua a operação de junção
juncao_interna = pd.merge(emp, depto, left_on="idDepto", right_on="id")

print('------------------------------')
print("depto:")
print(depto)
print('------------------------------')
print("emp:")
print(emp)
print('------------------------------')
print("Junção interna:")
print(juncao_interna)
fatia = juncao_interna[['num','nome','nomDepto']]
print(fatia)

------------------------------
depto:
   id nomDepto local
0  D1  Compras    SP
1  D2       RH    RJ
2  D3       TI    RJ
3  D4   Vendas    SP
------------------------------
emp:
    num    nome  salario idDepto
0  3199     Ana     1600      D2
1  3269   David     2975      D3
2  3555    José     1500    None
3  3788  Marina     5000      D2
4  3844    Luís     3000      D4
------------------------------
Junção interna:
    num    nome  salario idDepto  id nomDepto local
0  3199     Ana     1600      D2  D2       RH    RJ
1  3269   David     2975      D3  D3       TI    RJ
2  3788  Marina     5000      D2  D2       RH    RJ
3  3844    Luís     3000      D4  D4   Vendas    SP
    num    nome nomDepto
0  3199     Ana       RH
1  3269   David       TI
2  3788  Marina       RH
3  3844    Luís   Vendas

In [13]:
left_join = pd.merge(emp,depto,how='left', left_on='idDepto', right_on='id')
print(left_join)

    num    nome  salario idDepto   id nomDepto local
0  3199     Ana     1600      D2   D2       RH    RJ
1  3269   David     2975      D3   D3       TI    RJ
2  3555    José     1500    None  NaN      NaN   NaN
3  3788  Marina     5000      D2   D2       RH    RJ
4  3844    Luís     3000      D4   D4   Vendas    SP

In [15]:
right_join = pd.merge(depto, emp, how='right', left_on='id', right_on='idDepto')
print(right_join)

    id nomDepto local   num    nome  salario idDepto
0   D2       RH    RJ  3199     Ana     1600      D2
1   D3       TI    RJ  3269   David     2975      D3
2  NaN      NaN   NaN  3555    José     1500    None
3   D2       RH    RJ  3788  Marina     5000      D2
4   D4   Vendas    SP  3844    Luís     3000      D4

In [16]:
full_join = pd.merge(emp, depto, how='outer', left_on='idDepto', right_on='id')
print(full_join)

      num    nome  salario idDepto   id nomDepto local
0     NaN     NaN      NaN     NaN   D1  Compras    SP
1  3199.0     Ana   1600.0      D2   D2       RH    RJ
2  3788.0  Marina   5000.0      D2   D2       RH    RJ
3  3269.0   David   2975.0      D3   D3       TI    RJ
4  3844.0    Luís   3000.0      D4   D4   Vendas    SP
5  3555.0    José   1500.0    None  NaN      NaN   NaN