In [4]:
#P46: Seleção
import pandas as pd
flags = pd.read_csv('/workspaces/Pandas_python_livro_casa_do_codigo/main_project/flags.csv')

# Seleciona apenas as linhas dos paises da oceania
v = (flags['landmass'] == 6)
flags_oceania = flags[v]

print(flags_oceania)

                 name  landmass  zone  area  population  language  religion  \
3      American-Samoa         6     3     0           0         1         1
10          Australia         6     2  7690          15         1         1
41       Cook-Islands         6     3     0           0         1         1
57               Fiji         6     2    18           1         1         1
61   French-Polynesia         6     3     4           0         3         0
71               Guam         6     1     0           0         1         1
82          Indonesia         6     2  1904         157        10         2
94           Kiribati         6     1     0           0         1         1
109          Marianas         6     1     0           0        10         1
113        Micronesia         6     1     1           0        10         1
119             Nauru         6     2     0           0        10         1
123       New-Zealand         6     2   268           2         1         1
127              Niue         6     3     0           0         1         1
134  Papua-New-Guinea         6     2   463           3         1         5
137       Philippines         6     1   300          48        10         0
151   Soloman-Islands         6     2    30           0         1         1
172             Tonga         6     2     1           0        10         1
177            Tuvalu         6     2     0           0         1         1
185           Vanuatu         6     2    15           0         6         1
189     Western-Samoa         6     3     3           0         1         1

     bars  stripes  colours  ...  saltires  quarters  sunstars  crescent  \
3       0        0        5  ...         0         0         0         0
10      0        0        3  ...         1         1         6         0
41      0        0        4  ...         1         1        15         0
57      0        0        7  ...         1         1         0         0
61      0        3        5  ...         0         0         1         0
71      0        0        7  ...         0         0         0         0
82      0        2        2  ...         0         0         0         0
94      0        0        4  ...         0         0         1         0
109     0        0        3  ...         0         0         1         0
113     0        0        2  ...         0         0         4         0
119     0        3        3  ...         0         0         1         0
123     0        0        3  ...         1         1         4         0
127     0        0        4  ...         1         1         5         0
134     0        0        4  ...         0         0         5         0
137     0        0        4  ...         0         0         4         0
151     0        0        4  ...         0         0         5         0
172     0        0        2  ...         0         1         0         0
177     0        0        5  ...         1         1         9         0
185     0        0        4  ...         0         0         0         0
189     0        0        3  ...         0         1         5         0

     triangle  icon  animate text  topleft  botright
3           1     1        1    0     blue       red
10          0     0        0    0    white      blue
41          0     0        0    0    white      blue
57          0     1        1    0    white      blue
61          0     1        0    0      red       red
71          0     1        1    1      red       red
82          0     0        0    0      red     white
94          0     1        1    0      red      blue
109         0     1        0    0     blue      blue
113         0     0        0    0     blue      blue
119         0     0        0    0     blue      blue
123         0     0        0    0    white      blue
127         0     0        0    0    white      gold
134         1     0        1    0      red     black
137         1     0        0    0     blue       red
151         1     0        0    0     blue     green
172         0     0        0    0    white       red
177         0     0        0    0    white      blue
185         1     0        1    0    black     green
189         0     0        0    0     blue       red

[20 rows x 30 columns]

In [6]:
# 1) Países que não são da Oceania
v1 = (flags['landmass'] != 6)
paises_nao_oceania = flags[v1]
print(paises_nao_oceania)

            name  landmass  zone  area  population  language  religion  bars  \
0    Afghanistan         5     1   648          16        10         2     0
1        Albania         3     1    29           3         6         6     0
2        Algeria         4     1  2388          20         8         2     2
4        Andorra         3     1     0           0         6         0     3
5         Angola         4     2  1247           7        10         5     0
..           ...       ...   ...   ...         ...       ...       ...   ...
188      Vietnam         5     1   333          60        10         6     0
190   Yugoslavia         3     1   256          22         6         6     0
191        Zaire         4     2   905          28        10         5     0
192       Zambia         4     2   753           6        10         5     3
193     Zimbabwe         4     2   391           8        10         5     0

     stripes  colours  ...  saltires  quarters  sunstars  crescent  triangle  \
0          3        5  ...         0         0         1         0         0
1          0        3  ...         0         0         1         0         0
2          0        3  ...         0         0         1         1         0
4          0        3  ...         0         0         0         0         0
5          2        3  ...         0         0         1         0         0
..       ...      ...  ...       ...       ...       ...       ...       ...
188        0        2  ...         0         0         1         0         0
190        3        4  ...         0         0         1         0         0
191        0        4  ...         0         0         0         0         0
192        0        4  ...         0         0         0         0         0
193        7        5  ...         0         0         1         0         1

     icon  animate text  topleft  botright
0       1        0    0    black     green
1       0        1    0      red       red
2       0        0    0    green     white
4       0        0    0     blue       red
5       1        0    0      red     black
..    ...      ...  ...      ...       ...
188     0        0    0      red       red
190     0        0    0     blue       red
191     1        1    0    green     green
192     0        1    0    green     brown
193     1        1    0    green     green

[174 rows x 30 columns]

In [7]:

# 2) Países com no máximo 2 cores em sua bandeira
v2 = (flags['colours'] <= 2)
paises_max_2_cores = flags[v2]
print(paises_max_2_cores)

                name  landmass  zone   area  population  language  religion  \
8          Argentina         2     3   2777          28         2         0
11           Austria         3     1     84           8         4         0
13           Bahrain         5     1      1           0         8         2
14        Bangladesh         5     1    143          90         6         2
18             Benin         4     1    113           3         3         5
31            Canada         1     4   9976          24         1         1
37             China         5     1   9561        1008         7         6
39   Comorro-Islands         4     2      2           0         3         2
46           Denmark         3     1     43           5         6         1
52       El-Salvador         1     4     21           5         2         0
58           Finland         3     1    337           5         9         1
68            Greece         3     1    132          10         6         1
69         Greenland         1     4   2176           0         6         1
72         Guatemala         1     4    109           8         2         0
76             Haiti         1     4     28           6         3         0
77          Honduras         1     4    112           4         2         0
82         Indonesia         6     2   1904         157        10         2
86            Israel         5     1     21           4        10         7
90             Japan         5     1    372         118         9         7
92         Kampuchea         5     1    181           6        10         3
100            Libya         4     1   1760           3         8         2
110       Mauritania         4     4   1031           2         8         2
113       Micronesia         6     1      1           0        10         1
114           Monaco         3     1      0           0         3         0
117          Morocco         4     4    447          20         8         2
124        Nicaragua         1     4    128           3         2         0
126          Nigeria         4     1    925          56        10         2
132         Pakistan         5     1    804          84         6         2
136             Peru         2     3   1285          14         2         0
138           Poland         3     1    313          36         5         6
141            Qatar         5     1     11           0         8         2
144       San-Marino         3     1      0           0         6         0
146     Saudi-Arabia         5     1   2150           9         8         2
150        Singapore         5     1      1           3         7         3
152          Somalia         4     1    637           5        10         2
156            Spain         3     4    505          38         2         0
165           Sweden         3     1    450           8         6         1
166      Switzerland         3     1     41           6         4         1
172            Tonga         6     2      1           0        10         1
174          Tunisia         4     1    164           7         8         2
175           Turkey         5     1    781          45         9         2
184             USSR         5     1  22402         274         5         6
188          Vietnam         5     1    333          60        10         6

     bars  stripes  colours  ...  saltires  quarters  sunstars  crescent  \
8       0        3        2  ...         0         0         0         0
11      0        3        2  ...         0         0         0         0
13      0        0        2  ...         0         0         0         0
14      0        0        2  ...         0         0         0         0
18      0        0        2  ...         0         0         1         0
31      2        0        2  ...         0         0         0         0
37      0        0        2  ...         0         0         5         0
39      0        0        2  ...         0         0         4         1
46      0        0        2  ...         0         0         0         0
52      0        3        2  ...         0         0         0         0
58      0        0        2  ...         0         0         0         0
68      0        9        2  ...         0         1         0         0
69      0        0        2  ...         0         0         0         0
72      3        0        2  ...         0         0         0         0
76      2        0        2  ...         0         0         0         0
77      0        3        2  ...         0         0         5         0
82      0        2        2  ...         0         0         0         0
86      0        2        2  ...         0         0         1         0
90      0        0        2  ...         0         0         1         0
92      0        0        2  ...         0         0         0         0
100     0        0        1  ...         0         0         0         0
110     0        0        2  ...         0         0         1         1
113     0        0        2  ...         0         0         4         0
114     0        2        2  ...         0         0         0         0
117     0        0        2  ...         0         0         1         0
124     0        3        2  ...         0         0         0         0
126     3        0        2  ...         0         0         0         0
132     1        0        2  ...         0         0         1         1
136     3        0        2  ...         0         0         0         0
138     0        2        2  ...         0         0         0         0
141     0        0        2  ...         0         0         0         0
144     0        2        2  ...         0         0         0         0
146     0        0        2  ...         0         0         0         0
150     0        2        2  ...         0         0         5         1
152     0        0        2  ...         0         0         1         0
156     0        3        2  ...         0         0         0         0
165     0        0        2  ...         0         0         0         0
166     0        0        2  ...         0         0         0         0
172     0        0        2  ...         0         1         0         0
174     0        0        2  ...         0         0         1         1
175     0        0        2  ...         0         0         1         1
184     0        0        2  ...         0         0         1         0
188     0        0        2  ...         0         0         1         0

     triangle  icon  animate text  topleft  botright
8           0     0        0    0     blue      blue
11          0     0        0    0      red       red
13          0     0        0    0    white       red
14          0     0        0    0    green     green
18          0     0        0    0    green     green
31          0     0        1    0      red       red
37          0     0        0    0      red       red
39          0     0        0    0    green     green
46          0     0        0    0      red       red
52          0     0        0    0     blue      blue
58          0     0        0    0    white     white
68          0     0        0    0     blue      blue
69          0     0        0    0    white       red
72          0     0        0    0     blue      blue
76          0     0        0    0    black       red
77          0     0        0    0     blue      blue
82          0     0        0    0      red     white
86          0     0        0    0     blue      blue
90          0     0        0    0    white     white
92          0     1        0    0      red       red
100         0     0        0    0    green     green
110         0     0        0    0    green     green
113         0     0        0    0     blue      blue
114         0     0        0    0      red     white
117         0     0        0    0      red       red
124         0     0        0    0     blue      blue
126         0     0        0    0    green     green
132         0     0        0    0    white     green
136         0     0        0    0      red       red
138         0     0        0    0    white       red
141         0     0        0    0    white     brown
144         0     0        0    0    white      blue
146         0     1        0    1    green     green
150         0     0        0    0      red     white
152         0     0        0    0     blue      blue
156         0     0        0    0      red       red
165         0     0        0    0     blue      blue
166         0     0        0    0      red       red
172         0     0        0    0    white       red
174         0     0        0    0      red       red
175         0     0        0    0      red       red
184         0     1        0    0      red       red
188         0     0        0    0      red       red

[43 rows x 30 columns]

In [8]:
# 3) Países cujo idioma predominante é inglês (1) ou alemão (4)
v3 = (flags['language'] == 1) | (flags['language'] == 4)
paises_ingles_alemao = flags[v3]
print(paises_ingles_alemao)

                     name  landmass  zone  area  population  language  \
3          American-Samoa         6     3     0           0         1
6                Anguilla         1     4     0           0         1
7         Antigua-Barbuda         1     4     0           0         1
10              Australia         6     2  7690          15         1
11                Austria         3     1    84           8         4
12                Bahamas         1     4    19           0         1
15               Barbados         1     4     0           0         1
17                 Belize         1     4    23           0         1
19                Bermuda         1     4     0           0         1
24   British-Virgin-Isles         1     4     0           0         1
31                 Canada         1     4  9976          24         1
33         Cayman-Islands         1     4     0           0         1
41           Cook-Islands         6     3     0           0         1
48               Dominica         1     4     0           0         1
56     Falklands-Malvinas         2     3    12           0         1
57                   Fiji         6     2    18           1         1
63                 Gambia         4     4    10           1         1
64            Germany-DDR         3     1   108          17         4
65            Germany-FRG         3     1   249          61         4
66                  Ghana         4     4   239          14         1
67              Gibraltar         3     4     0           0         1
70                Grenada         1     4     0           0         1
71                   Guam         6     1     0           0         1
75                 Guyana         2     4   215           1         1
85                Ireland         3     4    70           3         1
89                Jamaica         1     4    11           2         1
94               Kiribati         6     1     0           0         1
101         Liechtenstein         3     1     0           0         4
102            Luxembourg         3     1     3           0         4
111             Mauritius         4     2     2           1         1
116            Montserrat         1     4     0           0         1
123           New-Zealand         6     2   268           2         1
127                  Niue         6     3     0           0         1
134      Papua-New-Guinea         6     2   463           3         1
148            Seychelles         4     2     0           0         1
149          Sierra-Leone         4     4    72           3         1
151       Soloman-Islands         6     2    30           0         1
158             St-Helena         4     3     0           0         1
159        St-Kitts-Nevis         1     4     0           0         1
160              St-Lucia         1     4     0           0         1
161            St-Vincent         1     4     0           0         1
166           Switzerland         3     1    41           6         4
173       Trinidad-Tobago         2     4     5           1         1
176   Turks-Cocos-Islands         1     4     0           0         1
177                Tuvalu         6     2     0           0         1
180                    UK         3     4   245          56         1
182       US-Virgin-Isles         1     4     0           0         1
183                   USA         1     4  9363         231         1
189         Western-Samoa         6     3     3           0         1

     religion  bars  stripes  colours  ...  saltires  quarters  sunstars  \
3           1     0        0        5  ...         0         0         0
6           1     0        1        3  ...         0         0         0
7           1     0        1        5  ...         0         0         1
10          1     0        0        3  ...         1         1         6
11          0     0        3        2  ...         0         0         0
12          1     0        3        3  ...         0         0         0
15          1     3        0        3  ...         0         0         0
17          1     0        2        8  ...         0         0         0
19          1     0        0        6  ...         1         1         0
24          1     0        0        6  ...         1         1         0
31          1     2        0        2  ...         0         0         0
33          1     0        0        6  ...         1         1         4
41          1     0        0        4  ...         1         1        15
48          1     0        0        6  ...         0         0        10
56          1     0        0        6  ...         1         1         0
57          1     0        0        7  ...         1         1         0
63          5     0        5        4  ...         0         0         0
64          6     0        3        3  ...         0         0         0
65          1     0        3        3  ...         0         0         0
66          5     0        3        4  ...         0         0         1
67          1     0        1        3  ...         0         0         0
70          1     0        0        3  ...         0         0         7
71          1     0        0        7  ...         0         0         0
75          4     0        0        5  ...         0         0         0
85          0     3        0        3  ...         0         0         0
89          1     0        0        3  ...         1         0         0
94          1     0        0        4  ...         0         0         1
101         0     0        2        3  ...         0         0         0
102         0     0        3        3  ...         0         0         0
111         4     0        4        4  ...         0         0         0
116         1     0        0        7  ...         1         1         0
123         1     0        0        3  ...         1         1         4
127         1     0        0        4  ...         1         1         5
134         5     0        0        4  ...         0         0         5
148         1     0        0        3  ...         0         0         0
149         5     0        3        3  ...         0         0         0
151         1     0        0        4  ...         0         0         5
158         1     0        0        7  ...         1         1         0
159         1     0        0        5  ...         0         0         2
160         1     0        0        4  ...         0         0         0
161         1     5        0        4  ...         0         0         0
166         1     0        0        2  ...         0         0         0
173         1     0        0        3  ...         0         0         0
176         1     0        0        6  ...         1         1         0
177         1     0        0        5  ...         1         1         9
180         1     0        0        3  ...         1         0         0
182         1     0        0        6  ...         0         0         0
183         1     0       13        3  ...         0         1        50
189         1     0        0        3  ...         0         1         5

     crescent  triangle  icon  animate text  topleft  botright
3           0         1     1        1    0     blue       red
6           0         0     0        1    0    white      blue
7           0         1     0        0    0    black       red
10          0         0     0        0    0    white      blue
11          0         0     0        0    0      red       red
12          0         1     0        0    0     blue      blue
15          0         0     1        0    0     blue      blue
17          0         0     1        1    1      red       red
19          0         0     1        1    0    white       red
24          0         0     1        1    1    white      blue
31          0         0     0        1    0      red       red
33          0         0     1        1    1    white      blue
41          0         0     0        0    0    white      blue
48          0         0     0        1    0    green     green
56          0         0     1        1    1    white      blue
57          0         0     1        1    0    white      blue
63          0         0     0        0    0      red     green
64          0         0     1        0    0    black      gold
65          0         0     0        0    0    black      gold
66          0         0     0        0    0      red     green
67          0         0     1        0    0    white       red
70          0         1     0        1    0      red       red
71          0         0     1        1    1      red       red
75          0         1     0        0    0    black     green
85          0         0     0        0    0    green    orange
89          0         1     0        0    0     gold      gold
94          0         0     1        1    0      red      blue
101         0         0     1        0    0     blue       red
102         0         0     0        0    0      red      blue
111         0         0     0        0    0      red     green
116         0         0     1        1    0    white      blue
123         0         0     0        0    0    white      blue
127         0         0     0        0    0    white      gold
134         0         1     0        1    0      red     black
148         0         0     0        0    0      red     green
149         0         0     0        0    0    green      blue
151         0         1     0        0    0     blue     green
158         0         0     1        0    0    white      blue
159         0         1     0        0    0    green       red
160         0         1     0        0    0     blue      blue
161         0         0     1        1    1     blue     green
166         0         0     0        0    0      red       red
173         0         1     0        0    0    white     white
176         0         0     1        1    0    white      blue
177         0         0     0        0    0    white      blue
180         0         0     0        0    0    white       red
182         0         0     1        1    1    white     white
183         0         0     0        0    0     blue       red
189         0         0     0        0    0     blue       red

[49 rows x 30 columns]

In [9]:
# 4) Países da Oceania com área acima de 200 mil km²
v4 = (flags['landmass'] == 6) & (flags['area'] > 200)
oceania_area_maior_200 = flags[v4]
print(oceania_area_maior_200)

                 name  landmass  zone  area  population  language  religion  \
10          Australia         6     2  7690          15         1         1
82          Indonesia         6     2  1904         157        10         2
123       New-Zealand         6     2   268           2         1         1
134  Papua-New-Guinea         6     2   463           3         1         5
137       Philippines         6     1   300          48        10         0

     bars  stripes  colours  ...  saltires  quarters  sunstars  crescent  \
10      0        0        3  ...         1         1         6         0
82      0        2        2  ...         0         0         0         0
123     0        0        3  ...         1         1         4         0
134     0        0        4  ...         0         0         5         0
137     0        0        4  ...         0         0         4         0

     triangle  icon  animate text  topleft  botright
10          0     0        0    0    white      blue
82          0     0        0    0      red     white
123         0     0        0    0    white      blue
134         1     0        1    0      red     black
137         1     0        0    0     blue       red

[5 rows x 30 columns]

In [10]:
# 5) Países da Oceania, área > 200 mil km² e idioma inglês
v5 = (flags['landmass'] == 6) & (flags['area'] > 200) & (flags['language'] == 1)
oceania_area_maior_200_ingles = flags[v5]
print(oceania_area_maior_200_ingles)

                 name  landmass  zone  area  population  language  religion  \
10          Australia         6     2  7690          15         1         1
123       New-Zealand         6     2   268           2         1         1
134  Papua-New-Guinea         6     2   463           3         1         5

     bars  stripes  colours  ...  saltires  quarters  sunstars  crescent  \
10      0        0        3  ...         1         1         6         0
123     0        0        3  ...         1         1         4         0
134     0        0        4  ...         0         0         5         0

     triangle  icon  animate text  topleft  botright
10          0     0        0    0    white      blue
123         0     0        0    0    white      blue
134         1     0        1    0      red     black

[3 rows x 30 columns]

In [ ]:
#P47: Projecao

# Países da Oceania com área acima de 200 mil km²
v = (flags['landmass'] == 6) & (flags['area'] > 200)
df = flags[v]

# Projeta apenas as colunas "name" , "colours", "language", "landmass" e "area"
df = df[['name', 'colours', 'language', 'landmass', 'area']]

print(df)

                 name  colours  language  landmass  area
10          Australia        3         1         6  7690
82          Indonesia        2        10         6  1904
123       New-Zealand        3         1         6   268
134  Papua-New-Guinea        4         1         6   463
137       Philippines        4        10         6   300

In [12]:
#P47: Resetando Index, mesma merda que o de cima mas o index comecam contando do 0 de novo
import pandas as pd

# Países da Oceania com área acima de 200 mil km²
v = (flags['landmass'] == 6) & (flags['area'] > 200)
df = flags[v]

# Projeta apenas as colunas "name" , "colours", "language", "landmass" e "area"
df = df[['name', 'colours', 'language', 'landmass', 'area']]

df = df.reset_index(drop=True)
print(df)

               name  colours  language  landmass  area
0         Australia        3         1         6  7690
1         Indonesia        2        10         6  1904
2       New-Zealand        3         1         6   268
3  Papua-New-Guinea        4         1         6   463
4       Philippines        4        10         6   300

In [ ]:
#P49: Inserção

#Cria um DataFrame com os dados do novo país
df_novo = pd.DataFrame(
    {
        'name': 'East Timor',
        'landmass': 5,
        'area': 15,
        'language': 10,
    }, index=[0])

#Insere o novo país em flags
flags = pd.concat([flags, df_novo], ignore_index=True, sort=False)

#4-Imprime o DataFrame alterado
print(flags[['name',
             'landmass',
             'area',
             'language',
             'religion'
             ]])

               name  landmass  area  language  religion
0       Afghanistan         5   648        10       2.0
1           Albania         3    29         6       6.0
2           Algeria         4  2388         8       2.0
3    American-Samoa         6     0         1       1.0
4           Andorra         3     0         6       0.0
..              ...       ...   ...       ...       ...
190      Yugoslavia         3   256         6       6.0
191           Zaire         4   905        10       5.0
192          Zambia         4   753        10       5.0
193        Zimbabwe         4   391        10       5.0
194      East Timor         5    15        10       NaN

[195 rows x 5 columns]

In [ ]:
#P50: Atualização
flags.at[194,'religion'] = 0

print(flags[['name',
             'landmass',
             'area',
             'language',
             'religion'
             ]])

#usando o metodo loc() com o 
# name

               name  landmass  area  language  religion
0       Afghanistan         5   648        10       2.0
1           Albania         3    29         6       6.0
2           Algeria         4  2388         8       2.0
3    American-Samoa         6     0         1       1.0
4           Andorra         3     0         6       0.0
..              ...       ...   ...       ...       ...
190      Yugoslavia         3   256         6       6.0
191           Zaire         4   905        10       5.0
192          Zambia         4   753        10       5.0
193        Zimbabwe         4   391        10       5.0
194      East Timor         5    15        10       0.0

[195 rows x 5 columns]

In [18]:
#usando o metodo loc() com o 'name'

#Cria um DataFrame com os dados do novo país
df_novo = pd.DataFrame(
    {
        'name': 'East Timor',
        'landmass': 5,
        'area': 15,
        'language': 10,
    }, index=[0])

#Insere o novo país em flags
flags = pd.concat([flags, df_novo], ignore_index=True, sort=False)

# Atualiza o valor do atributo 'religion'
flags.loc[flags['name'] == 'East Timor', 'religion'] = 0

#Imprime o DataFrame alterado
print(flags[['name',
             'landmass',
             'area',
             'language',
             'religion'
             ]])

               name  landmass  area  language  religion
0       Afghanistan         5   648        10       2.0
1           Albania         3    29         6       6.0
2           Algeria         4  2388         8       2.0
3    American-Samoa         6     0         1       1.0
4           Andorra         3     0         6       0.0
..              ...       ...   ...       ...       ...
191           Zaire         4   905        10       5.0
192          Zambia         4   753        10       5.0
193        Zimbabwe         4   391        10       5.0
194      East Timor         5    15        10       0.0
195      East Timor         5    15        10       0.0

[196 rows x 5 columns]

In [20]:
#P51: Exclusão 

flags = flags.drop([1,5,193])
flags = flags.reset_index(drop=True) 
print(flags[['name',
             'landmass',
             'area',
             'language',
             'religion'
             ]])

               name  landmass  area  language  religion
0       Afghanistan         5   648        10       2.0
1           Algeria         4  2388         8       2.0
2    American-Samoa         6     0         1       1.0
3           Andorra         3     0         6       0.0
4          Anguilla         1     0         1       1.0
..              ...       ...   ...       ...       ...
188      Yugoslavia         3   256         6       6.0
189           Zaire         4   905        10       5.0
190          Zambia         4   753        10       5.0
191      East Timor         5    15        10       0.0
192      East Timor         5    15        10       0.0

[193 rows x 5 columns]

In [21]:

# Drop q eu curto mais tipo um filtro WHERE 
flags = flags.drop(flags[flags['name'] == 'East Timor'].index)
flags = flags.reset_index(drop=True) 
print(flags[['name',
             'landmass',
             'area',
             'language',
             'religion'
             ]])

               name  landmass  area  language  religion
0       Afghanistan         5   648        10       2.0
1           Algeria         4  2388         8       2.0
2    American-Samoa         6     0         1       1.0
3           Andorra         3     0         6       0.0
4          Anguilla         1     0         1       1.0
..              ...       ...   ...       ...       ...
186         Vietnam         5   333        10       6.0
187   Western-Samoa         6     3         1       1.0
188      Yugoslavia         3   256         6       6.0
189           Zaire         4   905        10       5.0
190          Zambia         4   753        10       5.0

[191 rows x 5 columns]

In [ ]:
#P51: Exclusão
flags = pd.read_csv('/workspaces/Pandas_python_livro_casa_do_codigo/main_project/flags.csv')

#2-Mantém apenas os países com verde, amarelo,
# azul e branco na bandeira
flags = flags.loc[(flags['green']==1) &
                  (flags['gold']==1) &
                  (flags['blue']==1) &
                  (flags['white']==1)]

#3-Imprime o DataFrame alterado
print(flags[['name',
             'green',
             'gold',
             'blue',
             'white']])

                         name  green  gold  blue  white
17                     Belize      1     1     1      1
19                    Bermuda      1     1     1      1
23                     Brazil      1     1     1      1
24       British-Virgin-Isles      1     1     1      1
26                   Bulgaria      1     1     1      1
33             Cayman-Islands      1     1     1      1
34   Central-African-Republic      1     1     1      1
48                   Dominica      1     1     1      1
56         Falklands-Malvinas      1     1     1      1
57                       Fiji      1     1     1      1
71                       Guam      1     1     1      1
78                  Hong-Kong      1     1     1      1
116                Montserrat      1     1     1      1
135                   Parguay      1     1     1      1
139                  Portugal      1     1     1      1
142                   Romania      1     1     1      1
151           Soloman-Islands      1     1     1      1
158                 St-Helena      1     1     1      1
161                St-Vincent      1     1     1      1
176       Turks-Cocos-Islands      1     1     1      1
182           US-Virgin-Isles      1     1     1      1
187                 Venezuela      1     1     1      1

In [24]:
#P52: Método replace()

flags = pd.read_csv('/workspaces/Pandas_python_livro_casa_do_codigo/main_project/flags.csv')

flags['green'] = flags['green'].replace([0,1],['Não', 'Sim'])

print(flags[['name','green']])

               name green
0       Afghanistan   Sim
1           Albania   Não
2           Algeria   Sim
3    American-Samoa   Não
4           Andorra   Não
..              ...   ...
189   Western-Samoa   Não
190      Yugoslavia   Não
191           Zaire   Sim
192          Zambia   Sim
193        Zimbabwe   Sim

[194 rows x 2 columns]

In [25]:
#P53: Método apply()

flags['name'] = flags['name'].apply(str.upper)

print(flags)

               name  landmass  zone  area  population  language  religion  \
0       AFGHANISTAN         5     1   648          16        10         2
1           ALBANIA         3     1    29           3         6         6
2           ALGERIA         4     1  2388          20         8         2
3    AMERICAN-SAMOA         6     3     0           0         1         1
4           ANDORRA         3     1     0           0         6         0
..              ...       ...   ...   ...         ...       ...       ...
189   WESTERN-SAMOA         6     3     3           0         1         1
190      YUGOSLAVIA         3     1   256          22         6         6
191           ZAIRE         4     2   905          28        10         5
192          ZAMBIA         4     2   753           6        10         5
193        ZIMBABWE         4     2   391           8        10         5

     bars  stripes  colours  ...  saltires quarters  sunstars  crescent  \
0       0        3        5  ...         0        0         1         0
1       0        0        3  ...         0        0         1         0
2       2        0        3  ...         0        0         1         1
3       0        0        5  ...         0        0         0         0
4       3        0        3  ...         0        0         0         0
..    ...      ...      ...  ...       ...      ...       ...       ...
189     0        0        3  ...         0        1         5         0
190     0        3        4  ...         0        0         1         0
191     0        0        4  ...         0        0         0         0
192     3        0        4  ...         0        0         0         0
193     0        7        5  ...         0        0         1         0

     triangle  icon  animate text  topleft  botright
0           0     1        0    0    black     green
1           0     0        1    0      red       red
2           0     0        0    0    green     white
3           1     1        1    0     blue       red
4           0     0        0    0     blue       red
..        ...   ...      ...  ...      ...       ...
189         0     0        0    0     blue       red
190         0     0        0    0     blue       red
191         0     1        1    0    green     green
192         0     0        1    0    green     brown
193         1     1        1    0    green     green

[194 rows x 30 columns]

In [26]:
#UP54: Criação e utilização de Função
def classe_area(area):
    if (area < 10) :
        return 'F'
    elif (area >= 10 and area < 50) :
        return 'E'
    elif (area >= 50 and area < 100) :
        return 'D'
    elif (area >= 100 and area < 500) :
        return 'C'
    elif (area >= 500 and area < 1000) :
        return 'B'
    else :
        return 'A'

print('Classe de extensão territorial: ')
print('Brasil      :', classe_area(8515))
print('Moçambique  :', classe_area(801))
print('Portugal    :', classe_area(92))
print('Timor Leste :', classe_area(14))

Classe de extensão territorial:
Brasil      : A
Moçambique  : B
Portugal    : D
Timor Leste : E

In [28]:
flags['area_class'] = flags['area'].apply(classe_area)

print(flags[['name', 'area', 'area_class']])

               name  area area_class
0       AFGHANISTAN   648          B
1           ALBANIA    29          E
2           ALGERIA  2388          A
3    AMERICAN-SAMOA     0          F
4           ANDORRA     0          F
..              ...   ...        ...
189   WESTERN-SAMOA     3          F
190      YUGOSLAVIA   256          C
191           ZAIRE   905          B
192          ZAMBIA   753          B
193        ZIMBABWE   391          C

[194 rows x 3 columns]

In [29]:
#P56: Normalização 

#normaliza os valores de área
area_max = max(flags['area'])
area_min = min(flags['area'])
flags['area_norm'] = (flags['area'] - area_min) / (area_max - area_min)

print(flags[['name', 'area', 'area_norm']])

               name  area  area_norm
0       AFGHANISTAN   648   0.028926
1           ALBANIA    29   0.001295
2           ALGERIA  2388   0.106598
3    AMERICAN-SAMOA     0   0.000000
4           ANDORRA     0   0.000000
..              ...   ...        ...
189   WESTERN-SAMOA     3   0.000134
190      YUGOSLAVIA   256   0.011428
191           ZAIRE   905   0.040398
192          ZAMBIA   753   0.033613
193        ZIMBABWE   391   0.017454

[194 rows x 3 columns]

In [32]:
#P57: Normalização de atributo categórico
flags = pd.read_csv('/workspaces/Pandas_python_livro_casa_do_codigo/main_project/flags.csv')

dummies = pd.get_dummies(flags['language'], prefix='lang')
flags = flags.join(dummies)

print(flags[['language','lang_1', 'lang_2', 'lang_3', 'lang_4', 'lang_5', 'lang_6', 'lang_7', 'lang_8', 'lang_9', 'lang_10']])

     language  lang_1  lang_2  lang_3  lang_4  lang_5  lang_6  lang_7  lang_8  \
0          10   False   False   False   False   False   False   False   False
1           6   False   False   False   False   False    True   False   False
2           8   False   False   False   False   False   False   False    True
3           1    True   False   False   False   False   False   False   False
4           6   False   False   False   False   False    True   False   False
..        ...     ...     ...     ...     ...     ...     ...     ...     ...
189         1    True   False   False   False   False   False   False   False
190         6   False   False   False   False   False    True   False   False
191        10   False   False   False   False   False   False   False   False
192        10   False   False   False   False   False   False   False   False
193        10   False   False   False   False   False   False   False   False

     lang_9  lang_10
0     False     True
1     False    False
2     False    False
3     False    False
4     False    False
..      ...      ...
189   False    False
190   False    False
191   False     True
192   False     True
193   False     True

[194 rows x 11 columns]